<div class="container">
    <div>
        <h3>ACCESO VASCULAR DEL PACIENTE: </h3>
        <h5> <%= usuarios[0].nombre %> <%= usuarios[0].apellido_pat %> <%= usuarios[0].apellido_mat %></h5>
        <div class="form-group">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAcceso">Registrar nuevo acceso</button>
        </div>
        <table class="table table-primary table-hover">
            <thead>
                <tr>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Tipo de acceso
                    </th>
                    <th>
                        Observación
                    </th>
                </tr>
            </thead>
            <tbody>
                <% for (let usuario of usuarios) { %>
                    <tr>
                        <td>
                            <%= usuario.fecha.getDay() + '-' + (usuario.fecha.getMonth()+1) + '-' + usuario.fecha.getFullYear()%>
                        </td>
                        <td>
                            <%= usuario.tipo %>
                        </td>
                        <td>
                            <%= usuario.observacion %>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <div>
        <form method="POST" action="/ingresarNuevoAcceso" style="width: 500px;">
            <div class="modal fade" id="modalAcceso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">NUEVO ACCESO</h5>
                        </div>
                        <div class="modal-body">
                            <div>
                                <input type="hidden" value="<%= usuarios[0].id %>" name="pacienteId" />
                            </div>
                            <div>
                                <label for="txtFecha">Fecha de inserción:</label>
                                <input type="date" class="form-control" name="fecha" id="txtFecha" />
                            </div>
                            <div>
                                <label for="txtAcceso">Tipo de acceso:</label>
                                <select id="cmbAcceso" class="form-control" name="acceso">
                                    <% for (let acceso of accesos) { %>
                                        <option value="<%= acceso.id %>"><%= acceso.tipo %></option>
                                    <% } %>
                                </select>
                            </div>
                            <div>
                                <label for="txtOb">Observaciones:</label>
                                <input type="text" class="form-control" name="obs" id="txtOb" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-dark" value="Agregar nuevo acceso" />
                            <input type="button" class="btn btn-dark" data-dismiss="modal" value="Cerrar" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>